.welcomeCenter{
    text-align: center;
    margin-top: -200px;
}
.bottomText{
    bottom: 0%;
    text-align: center;
}
.h2color{
    color:royalblue;
    text-align: right;
}
.textright{
    text-align: right;
}
.text{
    text-align:start;
    padding: 20px, 0;
    margin: 300px;
    font-family: 'Times New Roman', Times, serif;
}
html{
    box-sizing:border-box
}
.navbar a {
    grid-area: header;
    float: top;
    text-align: center;
    padding: 8px;
    margin: 50px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: royalblue;
}
hr{
    border:0;border-top:1px solid #eee;margin:20px 0
}
a{
	text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.grid-avatar{
    display: grid;
    grid-template-columns: 200px;
}