.welcomeCenter{
    text-align: center;
    margin-top: -300px;
}

.bottomText{
    bottom: 0%;
    text-align: center;
    margin-left: 700px;
    position:fixed;
}
.text{
    margin-left: 700px;
}

html{
    box-sizing:border-box
}
.navbar a {
    float: top;
    text-align: center;
    padding: 8px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: royalblue;
}
hr{
    border:0;border-top:1px solid #eee;margin:20px 0
}
a{
	text-decoration: none;
}
a:link {
    text-decoration: none;
}
#logo {
    display: inline-block;
    margin: 15px; /* margin: 20px was off */
    float: left;
    height: 60px;
    width: auto; /* correct proportions to specified height */
    border-radius: 50%; /* makes it a circle */
}

a:visited {
    text-decoration: none;
}
